  .c_img {
        position: relative;
        width: 100%;
  }

  .image {
    display: block;
    height: 100%
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.5);
  }

  .c_img:hover .overlay {
    opacity: 1;
  }

  .text {
    border-radius: 0px;
    line-height: 1.6;
    color: white;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }